/* ==================== General styles ==================== */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  color: #434455;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

/* ==================== Page header styles ==================== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts {
  font-style: normal;
}

.header-contacts {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

/* ==================== Main content styles ==================== */

/* ==================== Hero section styles ====================*/
.hero-section {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  border-style: none;
  line-height: 1.5;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/* ==================== Features section styles ====================*/
.features-section-title {
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.features-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.features-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ==================== Team section styles ====================*/
.team-section {
  background: #f4f4fd;
}

.team-section-title {
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team-list-item {
  background: #ffffff;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ==================== Portfolio section styles ====================*/
.portfolio-section-title {
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.project-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.project-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ==================== Page footer styles ====================*/
.footer-content {
  background: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
