/* ==================== General styles ==================== */
body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}
/* ==================== /General styles ==================== */

/* ==================== Page header styles ==================== */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-header {
  color: #2e2f42;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}
/* ==================== /Page header styles ==================== */

/* ==================== Main content styles ==================== */

/* ==================== Hero section styles ====================*/
.hero-section {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  line-height: 1.5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* ==================== /Hero section styles ====================*/

/* ==================== Features section styles ====================*/
.features-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.features-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ==================== /Features section styles ====================*/

/* ==================== Team section styles ====================*/
.team-section {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-content {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 42px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ==================== /Team section styles ====================*/

/* ==================== Portfolio section styles ====================*/
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}

.project-list-item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  max-width: 360px;
}

.portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-text-content {
  padding: 32px 16px;
  border-bottom: 1px dashed #e7e9fc;
  border-left: 1px dashed #e7e9fc;
  border-right: 1px dashed #e7e9fc;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ==================== /Portfolio section styles ====================*/

/* ==================== /Main content styles ==================== */

/* ==================== Page footer styles ====================*/
.footer-content {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-text-content {
  max-width: 264px;
}

.logotype {
  display: block;
  margin-bottom: 16px;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ==================== /Page footer styles ====================*/
